.hero{
    height: 70vh;
    background-size: cover;
    background-position: 50% 50%;
    /*clip-path: polygon(0 0,100% 0, 100% 75%, 0 100%);*/
    position: relative;


    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.6),
        hsla(0, 0%, 81%, 0.062)),
        url(./softnow_background.jpeg); 
    display: grid;
    grid-template-rows: 1fr 1fr;
} 

.hero__grid{
    padding-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.hero__grid p{
    color: white;
    font-size: 2rem;
    text-align: left;
}

.hero__logo{
    justify-self: end;
    margin-right: 10%;
}

.hero__buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: end;
    justify-items: center;
    padding-bottom: 5rem;
    grid-column-gap: 50px;
}

.hero__buttons p{
    color: white;
    font-size: 2rem;
}

.hero__buttons__button{
    margin: 1rem;
    width: 50%;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 20%;
    
    -webkit-box-shadow: 0px 2px 14px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 14px -1px rgba(0,0,0,0.75);
    -o-box-shadow: 0px 2px 14px -1px rgba(0,0,0,0.75);
    -ms-box-shadow: 0px 2px 14px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 14px -1px rgba(0,0,0,0.75);
}

.hero__buttons__button:hover{
    transform: scale(1.1);
    transition: 1s;
    -webkit-box-shadow: 0px 2px 14px 7px rgba(0,0,0,0.75), inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow: 0px 2px 14px 7px rgba(0,0,0,0.75), inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:0px 2px 14px 7px rgba(0,0,0,0.75), inset rgba(0,0,0,0.15) 0px -10px 20px;
    -ms-box-shadow:0px 2px 14px 7px rgba(0,0,0,0.75), inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow: 0px 2px 14px 7px rgba(0,0,0,0.75), inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.hero__buttons__button--buy{
    border: 2px solid #e17055;
    background-color: #e2775d44;
}

.hero__buttons__button--buy:hover{
    background-color: #e2785da2;
}

.hero__buttons__button--about{
    border: 2px solid #0984e3;
    background-color: #0985e379;
}

.hero__buttons__button--about:hover{
    background-color: #0985e3b9;
}
.hero__buttons__button--support:hover{
    background-color: #00b8939a;
}


/* media queries */

@media only screen and (max-width: 600px) {
    .hero {
        height: 100%;
        background-size: cover;
        background-position: 50% 50%;
        /*clip-path: polygon(0 0,100% 0, 100% 75%, 0 100%);*/
        position: relative;
    }

    .hero__buttons p{
        color: white;
        font-size: 0.9em;
    }
    
    .hero__buttons__button{
        margin: 1rem;
        width: 50%;
        transition: 0.5s;
        cursor: pointer;
        border-radius: 20%;
    }
}




@media all and (min-width: 800px) {
    .offer-bar__text--1 { order: 1; } 
    .offer-bar__text--2 { order: 2; }
  }