.home-footer{
    display: grid;
    align-items: center;
    border: none;
    background: -webkit-linear-gradient(-45deg,#EC5252 0%,#6E1A52 100%);
    background: -moz-linear-gradient(-45deg,#EC5252 0%,#6E1A52 100%);
    background: -ms-linear-gradient(-45deg,#EC5252 0%,#6E1A52 100%);
    background: -o-linear-gradient(-45deg,#EC5252 0%,#6E1A52 100%);
    background: linear-gradient(-45deg,#EC5252 0%,#6E1A52 100%);
    grid-template-columns: 1fr 1fr 1fr;
    height: 10vh;
    color: white;
}

.home-footer__spec p{
    font-size: 1.5rem;
}

.home-footer__spec--spec1 p::before{
        font-family: FontAwesome;
        content: "\f059";
        display: inline-block;
        margin-right: 3rem;
}

.home-footer__spec--spec2 p::before{
    font-family: FontAwesome;
    content: "\f155";
    display: inline-block;
    margin-right: 3rem;
}

.home-footer__spec--spec3 p::before{
    font-family: FontAwesome;
    content: "\f00c";
    display: inline-block;
    margin-right: 3rem;
}


